
.icon-play-outline:before { content: '\e800'; } /* '' */
.icon-stop-outline:before { content: '\e801'; } /* '' */
.icon-resize-small:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-cog-outline:before { content: '\e804'; } /* '' */
