* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 11px;
}

body {
  background: #333;
  color: white;
  padding: .5em;
}

button {
  appearance: none;
  border: none;
  cursor: pointer;
  background: #bbb;
  color: #333;
}

button.active {
  background-color: royalblue;
  color: #eee;
}

hr {
  border: none;
  border-top: 1px solid #aaa;
}