:root {
  --window-radius: 8px;
  --title-bar--bg: #66a;
  --title-bar--fg: white;
  --title-bar-btn--bg-hober: #88f;
}

* {
  box-sizing: border-box;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */


  font-family: 'ubuntu', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  user-select: none;
  -webkit-user-select: none;
}

body {
  background: transparent;
  color: white;
}

button {
  appearance: none;
  border: none;
  cursor: pointer;
  background: #bbb;
  color: #333;
}


.selectDirBtn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 170px;
}